* {
	font-family: 'Playfair Display', serif;
}

.bg-secondary h5.mb-1 {
    margin-left: unset;
}

.icon {
	margin-left: -3rem;
    width: 30px;
    display: inline-block;
    text-align: center;
}

.post p {
	text-align: justify
}
.post img {
	display: block;
}
.post .source {
	font-size: 60%;
	display: block;
	margin: 0 auto 1rem;
}

.post div.highlight {
	background-color: #6c757d!important;
    margin: 1rem;
    padding: 1rem;
}
.post pre.highlight {
	margin-bottom: 0;
}
.post .highlight code {
	color: #fff !important;
}
.post video {
	margin: 0 auto 1rem;
	display: block;
}

@media only screen
and (min-device-width: 768px) {
	.cv code.highlighter-rouge {
	    position: relative;
	    left: -100px;
	    width: 80px;
	    display: inline-block;
	    text-align: right;
	}
	.cv strong {
	    position: relative;
	    left: -84px;
	    font-style: unset;
	    color: #6c757d;
	    font-weight: bolder;
	}
}

.cv strong, .cv p.lead {
	color: #000;
}

.cv p {
    color: #6c757d;
}

.cv em {
	display: block;
}

.cv ul {
	padding: 0;
	margin-top: -10px;
}

.cv li {
	display: block;
}

.cv h2 {
	border-bottom: 1px solid #dee2e6;
}

.cv blockquote {
	border-left: .25em solid #17a2b8;
    padding: 0 1em;
}

.cv blockquote ul {
	padding-left: 40px;
}
.cv blockquote li {
	display: list-item;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
	.w-75 {
		width: 85% !important;
	}
	.w-50 {
		width: 75% !important;
	}
}

@media only screen 
and (max-device-width : 767px)  {
	.container {
		padding-left: 0;
		padding-right: 0;
	}
	.w-75 {
		width: 100% !important;
	}
	.w-50 {
		width: 100% !important;
	}
	code.highlighter-rouge {
	    display: block;
	}
}