* {
	font-family: 'Playfair Display', serif;
}

@media only screen
and (min-device-width: 768px) {
	.cv code.highlighter-rouge {
	    position: relative;
	    left: -100px;
	    width: 80px;
	    display: inline-block;
	    text-align: right;
	}
	.cv strong {
	    position: relative;
	    left: -84px;
	    font-style: unset;
	    color: #6c757d;
	    font-weight: bolder;
	}
}

.cv strong, .cv p.lead {
	color: #000;
}

.cv p {
    color: #6c757d;
}

.cv em {
	display: block;
}

.cv ul {
	padding: 0;
	margin-top: -10px;
}

.cv li {
	display: block;
}

.cv h2 {
	border-bottom: 1px solid #dee2e6;
}

.cv blockquote {
	border-left: .25em solid #17a2b8;
    padding: 0 1em;
}

.cv blockquote ul {
	padding-inline-start: 40px;
}
.cv blockquote li {
	display: list-item;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
	.w-75 {
		width: 85% !important;
	}
	.w-50 {
		width: 75% !important;
	}
}

@media only screen 
and (max-device-width : 767px)  {
	.container {
		padding-left: 0;
		padding-right: 0;
	}
	.w-75 {
		width: 100% !important;
	}
	.w-50 {
		width: 100% !important;
	}
	code.highlighter-rouge {
	    display: block;
	}
}